# Node modules
/node_modules
/uniform-kireiz-coordination/node_modules
/table-kireiz-coordination/node_modules
/admin-kireiz-coordination/node_modules
/admin-table-coordination/node_modules
# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/uniform-kireiz-coordination/npm-debug.log
/table-kireiz-coordination/npm-debug.log
/table-kireiz-coordination/npm-debug.log
/admin-table-coordination/npm-debug.log


# Testing
/coverage

# Production build
/build

# Misc
.DS_Store

doc

# Environment variables
/uniform-kireiz-coordination/.env
/table-kireiz-coordination/.env
/admin-kireiz-coordination/.env
/admin-table-coordination/.env


.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# PnP (Yarn Plug'n'Play)
.pnp
.pnp.js
